.search-items {
    background-color: gray;
}

.head-line {
    background-color: gray;
    /* height: 10vh; */
    padding: 2vh;
}

.head-line-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* padding: 3vh; */
}

/* ::ng-deep .mat-mdc-form-field-subscript-wrapper {
    display: none;
} */

.results {
    padding: 2vh;
}

.resultcount {
    padding: 2vh;
    border: 0.5px solid black;
}

/* 
.resultdateinput{
    width: 100%;
    background-color: white;
} */

.resultheader {
    background-color: gray;
    width: 100%;
    padding: 12px;
}


.modifysearch {
    /* background-color: gray; */
}

.trainNameInCard {
    /* font-size: medium; */
    font-weight: 550;
    margin: 0;

}

changeColumn {
    flex-direction: column;
}

@media only screen and (min-width: 600px) {
    changeColumn {
        flex-direction: row !important;
        background-color: black;

    }
}


.radiustop {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

.radiusbottom {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.journeytype {
    border: 1% solid transparent;
    /* background-color: lightgray; */
    background-color: aliceblue;
    box-shadow: white 0px 7px 29px 0px;
    height: 70px;
    width: 150px;
    margin: 3px;
    padding: 2px;
}

.green-button {
    background-color: green;
    color: white;
}

.journeyClass {
    /* background-color: red; */
    background-color: #fee4d4;
    ;

}


.otherColour {
    background-color: blue;
    /* background-color: initial; */
    /* or any other default color */
}

.toolTip {}

.spanStyle {
    margin-left: 14px;
}



.boardingStyle {
    margin-inline: 10px;
}

.boardingDay {
    margin-inline: 10px;
}

.beforeSelect {
    cursor: not-allowed;
    background-color: blue;
}

.afterSelect {
    cursor: pointer;
    background-color: green;
}

button.trainButton1 {
    background-color:red;
}


button.otherButton1 {
    background-color: green !important;
}

/* .otherColour{
    background-color: green;
} */
/* button.disabled {
    background-color: grey !important;
} */
