<!-- <app-header></app-header> -->
<div *ngIf="!authService.isLogged() ; else navBAR"><app-login></app-login></div>
<ng-template #navBAR>
  <mat-toolbar color="primary" style="height: 10vh;">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>TrainBooking</span>
    <span class="example-fill-remaining-space mx-1  ">
      <div class="d-flex align-items-center justify-content-evenly">
        <a *ngIf="!(stationServ.getSessionToken())" routerLink="/register" class="navcolour">Register</a>
        <!-- <a *ngIf="!(stationServ.getSessionToken())" routerLink="/login" class="navcolour">Login</a> -->
        <!-- <a *ngIf="loginPage.role === 'admin'" routerLink="/addstation" class="navcolour">AddStation</a> -->
        <a routerLink="/addstation" *ngIf="authService.isAdminORNot()" class="navcolour">AddStation</a>
        <!-- <a routerLink="/addstation"  class="navcolour">AddStation</a> -->
        <a *ngIf="(stationServ.getSessionToken())" class="navcolour"
          (click)="authService.deleteSessionToken()">Logout</a>
      </div>
    </span>
    <!-- <div *ngIf="(stationServ.getSessionToken())" class="d-flex justify-content-evenly align-items-center">
      <div> <mat-icon>person</mat-icon></div>
      <div>
        <button mat-button [matMenuTriggerFor]="menu"><mat-icon>expand_more</mat-icon></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item><a routerLink="mfasettings">userSettings</a></button>
        </mat-menu>
      </div>
    </div> -->
    <!-- <mat-card class="example-card" appearance="outlined">
            <mat-card-header>
              <mat-card-title>User</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p><a routerLink="/userSetting" *ngIf="(stationServ.getSessionToken())">userSettings</a></p>
            </mat-card-content>
            <mat-card-footer class="example-card-footer">
            </mat-card-footer>
          </mat-card> -->

  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container" style="min-height: 90vh;">
    <mat-sidenav #sidenav mode="over" closed>
      <mat-nav-list>
        <a *ngIf="authService.isLogged()" mat-list-item routerLink="/dashboard">DashBoard</a>
        <a mat-list-item routerLink="#">About</a>
        <a mat-list-item routerLink="#">Contact</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-template>