<div *ngIf="onBookTicket1; else confirmDetails" class="container-fluid">
    <div class="d-flex justify-content-between align-items-center px-2">
        <div style="margin-top: 10px;">
            <h2 mat-dialog-title class="mat-dialog-title-custom">Passenger Details</h2>
        </div>
        <!-- <button mat-raised-button color="primary" (click)="addPassenger()">add passenger</button> -->
        <div style="margin-top: 20px;"> <mat-form-field>
                <mat-label>no of passengers</mat-label>
                <mat-select [(value)]="initialSelect " (selectionChange)="onSelectionChange($event.value)">
                    <mat-option *ngFor="let i of noOfPassengers" [value]="i">
                        {{i}}
                    </mat-option>
                </mat-select>
            </mat-form-field></div>
        <!-- <h2>{{selectedObserve$ | async}}</h2> -->
    </div>
    <mat-dialog-content class="dialog-content">
        <form [formGroup]="form">
            <mat-accordion formArrayName="passengerForms">
                <mat-expansion-panel *ngFor="let passenger of passengerForms.controls; let i = index"
                    [formGroupName]="i">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Person Details</mat-panel-title>
                        <mat-panel-description>Type details of person</mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="full-width">
                        <div class="row gy-3">
                            <div class="col-sm-12">
                                <mat-form-field class="full-width">
                                    <mat-label>Passenger Name</mat-label>
                                    <input matInput type="text" formControlName="passengerName" />
                                    <mat-error *ngIf="passenger.get('passengerName')?.hasError('required')">
                                        Name is required
                                    </mat-error>
                                    <mat-error *ngIf="passenger.get('passengerName')?.hasError('pattern')">
                                        Please provide a valid name
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-12">
                                <mat-form-field class="full-width">
                                    <mat-label>Passenger Age</mat-label>
                                    <input matInput type="number" formControlName="passengerAge" />
                                    <mat-error *ngIf="passenger.get('passengerAge')?.hasError('min')">
                                        Age should be greater than 0
                                    </mat-error>
                                    <mat-error *ngIf="passenger.get('passengerAge')?.hasError('max')">
                                        Age should be less than 120
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <!-- Add email and mobile number fields similarly -->
                            <div class="col-sm-12">
                                <mat-form-field class="full-width">
                                    <mat-label>Passenger Email</mat-label>
                                    <input matInput type="text" formControlName="passengerEmail" />
                                    <mat-error
                                        *ngIf="passenger.get('passengerEmail')?.hasError('required') || (passengerFormFields.get('passengerEmail')?.touched || passengerFormFields.get('passengerEmail')?.dirty)">
                                        Email is required
                                    </mat-error>
                                    <mat-error
                                        *ngIf="passenger.get('passengerEmail')?.hasError('email') || (passengerFormFields.get('passengerEmail')?.touched || passengerFormFields.get('passengerEmail')?.dirty)">
                                        Please provide a valid email
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-12">
                                <mat-form-field class="full-width">
                                    <mat-label>Passenger Mobile Number</mat-label>
                                    <input matInput type="number" formControlName="passengerMobileNumber" />
                                    <mat-error
                                        *ngIf="passenger.get('passengerMobileNumber')?.hasError('required') || (passengerFormFields.get('passengerMobileNumber')?.touched || passengerFormFields.get('passengerMobileNumber')?.dirty)">
                                        Mobile number is required
                                    </mat-error>
                                    <mat-error
                                        *ngIf="passenger.get('passengerMobileNumber')?.hasError('pattern') || (passengerFormFields.get('passengerMobileNumber')?.touched || passengerFormFields.get('passengerMobileNumber')?.dirty)">
                                        Please provide a valid mobile number
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
            <div *ngIf="formError" style="color: red;">fill all the passengers details</div>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions class="d-flex justify-content-evenly align-items-center">
        <div class="p-3">
            <button mat-raised-button color="primary" type="submit" (click)="onBookTicket()">Book Ticket</button>
            <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
        </div>
    </mat-dialog-actions>
</div>

<ng-template #confirmDetails>
    <div>
        <h2 mat-dialog-title class="mat-dialog-title-custom">Your Booking Details</h2>
        <mat-dialog-content class="dialog-content">
            <div class="container-fluid">
                <div class="row gy-1">
                    <div class="col-12 d-flex flex-row gap-2">
                        <div> <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="train"></mat-icon>
                        </div>
                        <h2 style="font-weight: 700;color: black;line-height: 23px !important;margin: 0px;">
                            {{data.selectedTrain.trainName }}</h2> <span class="mx-2">|</span> <span class="">
                            #{{data.selectedTrain.trainId}}
                        </span>
                    </div>
                    <div class="col-12 d-flex flex-row gap-2">
                        <!-- <div class="d-flex flex-row"> -->
                        <div> <mat-icon aria-hidden="false" aria-label="" fontIcon="schedule"></mat-icon>
                        </div>
                        <div class="d-flex flex-row justify-content-between" style="width: 100%;">
                            <div class="d-flex flex-column ">
                                <div>
                                    <h3>{{data.selectedTrain.boardingDay}}</h3>
                                </div>
                                <div>
                                    <h3>{{data.selectedTrain.boardingTime}}</h3>
                                </div>
                                <div>
                                    <h4>{{data.selectedTrain.boardingStation}}</h4>
                                </div>
                            </div>
                            <div class="d-flex  justify-content-center align-items-center">
                                <h5>{{data.selectedTrain.totalJourneyTime}}</h5>
                            </div>
                            <div class="d-flex flex-column ">
                                <div>
                                    <h3>{{data.selectedTrain.departureStation}}</h3>
                                </div>
                                <div>
                                    <h3>{{data.selectedTrain.departureTime}}</h3>
                                </div>
                                <div>
                                    <h4>{{data.selectedTrain.departureDay}}</h4>
                                </div>
                            </div>
                        </div>
                        <!-- </div> -->
                    </div>
                    <div class="d-flex flex-row col-12 gap-2">
                        <mat-icon aria-hidden="false" aria-label="" fontIcon="person"></mat-icon>
                        <div class=" d-flex justify-content-center  flex-column">
                            <div>
                                <h3>{{passengerFormFields.get('passengerName')?.value}}<span
                                        class="mx-2">({{passengerFormFields.get('passengerAge')?.value}})</span>
                                </h3>
                            </div>
                            <div>
                                <h3>{{passengerFormFields.get('passengerEmail')?.value}}</h3>
                            </div>
                            <div>
                                <h3>{{passengerFormFields.get('passengerMobileNumber')?.value}}</h3>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="d-flex flex-row col-12 gap-2">
                        <mat-icon aria-hidden="false" aria-label="" fontIcon="person"></mat-icon>
                        <div class=" d-flex justify-content-center  flex-column">
                            <div>
                                <h3>{{passengerFormFields.get('passengerName')?.value}}<span>{{passengerFormFields.get('passengerAge')?.value}}</span>
                                </h3>
                            </div>
                            <div>
                                <h3>{{passengerFormFields.get('passengerEmail')?.value}}</h3>
                            </div>
                            <div>
                                <h3>{{passengerFormFields.get('passengerMobileNumber')?.value}}</h3>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </mat-dialog-content>
        <mat-dialog-actions class="d-flex justify-content-center align-items-center">
            <button mat-raised-button color="primary" class="my-3" type="button" (click)="back()">Back</button>
            <button mat-raised-button color="primary" class="my-3" type="button" (click)="confirmBooking()">confirm
                Booking</button>
        </mat-dialog-actions>
    </div>
</ng-template>




<!-- <div class="d-flex justify-content-between align-items-center px-2">
    <h2 mat-dialog-title class="mat-dialog-title-custom">Passenger Details</h2>
    <button mat-raised-button color="primary">add passenger</button>
</div>
<mat-dialog-content class="dialog-content">
    <form [formGroup]="passengerFormFields" (ngSubmit)="onBookTicket()" class="bookticketform">
        <div class="full-width">
            <div class="row gy-3">
                <div class="col-sm-12">
                    <mat-form-field class="full-width">
                        <mat-label>Passenger Name</mat-label>
                        <input matInput type="text" formControlName="passengerName" />
                        <mat-error
                            *ngIf="passengerFormFields.get('passengerName')?.hasError('required') && (passengerFormFields.get('passengerName')?.touched || passengerFormFields.get('passengerName')?.dirty)">
                            Name is required
                        </mat-error>
                        <mat-error
                            *ngIf="passengerFormFields.get('passengerName')?.hasError('pattern') && (passengerFormFields.get('passengerName')?.touched || passengerFormFields.get('passengerName')?.dirty)">
                            Please provide a valid name
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-12">
                    <mat-form-field class="full-width">
                        <mat-label>Passenger Age</mat-label>
                        <input matInput type="number" formControlName="passengerAge" />
                        <mat-error
                            *ngIf="passengerFormFields.get('passengerAge')?.hasError('min') && (passengerFormFields.get('passengerAge')?.touched || passengerFormFields.get('passengerAge')?.dirty)">
                            Age should be greater than 0
                        </mat-error>
                        <mat-error
                            *ngIf="passengerFormFields.get('passengerAge')?.hasError('max') && (passengerFormFields.get('passengerAge')?.touched || passengerFormFields.get('passengerAge')?.dirty)">
                            Age should be less than 120
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-12">
                    <mat-form-field class="full-width">
                        <mat-label>Passenger Email</mat-label>
                        <input matInput type="text" formControlName="passengerEmail" />
                        <mat-error
                            *ngIf="passengerFormFields.get('passengerEmail')?.hasError('required') && (passengerFormFields.get('passengerEmail')?.touched || passengerFormFields.get('passengerEmail')?.dirty)">
                            Email is required
                        </mat-error>
                        <mat-error
                            *ngIf="passengerFormFields.get('passengerEmail')?.hasError('email') && (passengerFormFields.get('passengerEmail')?.touched || passengerFormFields.get('passengerEmail')?.dirty)">
                            Please provide a valid email
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-12">
                    <mat-form-field class="full-width">
                        <mat-label>Passenger Mobile Number</mat-label>
                        <input matInput type="number" formControlName="passengerMobileNumber" />
                        <mat-error
                            *ngIf="passengerFormFields.get('passengerMobileNumber')?.hasError('required') && (passengerFormFields.get('passengerMobileNumber')?.touched || passengerFormFields.get('passengerMobileNumber')?.dirty)">
                            Mobile number is required
                        </mat-error>
                        <mat-error
                            *ngIf="passengerFormFields.get('passengerMobileNumber')?.hasError('pattern') && (passengerFormFields.get('passengerMobileNumber')?.touched || passengerFormFields.get('passengerMobileNumber')?.dirty)">
                            Please provide a valid mobile number
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions class="d-flex justify-content-evenly align-items-center">
    <div class="p-3">
        <button mat-raised-button color="primary" type="submit" (click)="onBookTicket()">Book Ticket</button>
        <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
    </div>
</mat-dialog-actions> -->